{% macro tree() %}
    <a href="javascript:void(0);" onclick="burger()" id="mobile">&#9776;</a>
        <ul id="bger">
        {% for subsection in section.subsections | sort %}
            {% set subsection_item = get_section(path=subsection) %}  
            <li>&#128448;&nbsp;<a href="{{ subsection_item.permalink | safe }}">{{ subsection_item.title  }}</a></li>
            {% endfor %}
            {% for subpage in section.pages %}
            <li>&#128463;&nbsp;<a href="{{ subpage.permalink | safe }}">{{ subpage.title  }}</a></li> 
        {% endfor %}
        </ul>
{% endmacro tree %}